.ficha_crear_Experiencia {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.fomulario_crear_experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fomulario_crear_experiencia label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
  font-size: 20px;
}

.fomulario_crear_experiencia input {
  border: solid 3px #ecbb19;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  outline: none;
  margin: 10px auto;
  text-align: center;
  display: flex;
}

.fomulario_crear_experiencia textarea {
  border: solid 3px #ecbb19;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 450px;
  height: 150px;
  outline: none;
}

.Titulo_foto_experiencia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
  font-size: 20px;
}

.ficha_crear_Experiencia button {
  font-size: 25px;
  background-color: #ecbb19;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 1em 2em;
  width: 173px;
  margin-top: 35px;
}

.apartado_subir_foto_experiencia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
