.titulo_create_comentario {
  margin-top: 50px;
  color: black;
  border: solid 10px #ecbb19;
  font-size: 24px;
  padding: 25px 0px;
  text-align: center;
  font-weight: bold;
}

.form_create_comentario {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_create_comentario label {
  display: flex;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 10px 0px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_create_comentario input {
  display: flex;
  border: solid 3px #ecbb19;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.7em 2em;
  width: 250px;
  outline: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.form_create_comentario textarea {
  border: solid 3px #ecbb19;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.7em 2em;
  width: 450px;
  outline: none;
}

.button_publicar_comentario {
  flex-direction: column;
  background-color: #ecbb19;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  padding: 0.7em 2em;
  width: 120px;
}
