.ficha_editar_perfil {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.titulo_editProfile {
  display: flex;
  margin: 35px;
  justify-content: center;
  text-align: center;
  color: #ecbb19;
  font-size: 30px;
}

.form_editProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.form_editProfile label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
}

.form_editProfile input {
  border: solid 3px #ecbb19;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  outline: none;
}

.contenedor_biografia {
  border: solid 3px #ecbb19;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 450px;
  height: 150px;
  outline: none;
}
.titulo_Foto_perfil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
  font-size: 20px;
}
.titulo_Foto_perfil img {
  margin: 0 auto;
  margin-top: 25px;
  width: 160px;
}

.apartado_subir_foto_avatar {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.boton_editar_perfil {
  font-size: 25px;
  background-color: #ecbb19;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 35px;
  padding: 1em 2em;
  width: 173px;
}
