.titulo_publicar_experiencia {
  display: flex;
  margin: 35px;
  justify-content: center;
  text-align: center;
  color: #ecbb19;
  font-size: 30px;
}

.edit_Experiencia {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.fomulario_edit_experiencia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

.fomulario_edit_experiencia label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
}

.fomulario_edit_experiencia input {
  border: solid 3px #ecbb19;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  outline: none;
}
