.experiencia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ecbb19;
  text-align: center;
  margin: 50px auto;
  width: 350px;
  height: 650px;
}

.experiencia_img {
  width: 100px;
  height: 100px;
  border: 3px solid #ecbb19;
  border-style: solid;
  padding: 5px;
}
.titulo_experiencia_busqueda {
  color: rgba(32, 32, 32, 0.904);
  font-weight: 900;
  text-decoration: underline solid rgba(32, 32, 32, 0.904);
}
.experiencia p {
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.button_delete_experiencia {
  background-color: #ecbb19;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  width: 120px;
  margin-top: 25px;
}
