.experienciaInfo {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.experienciaInfo > h2 {
  display: flex;
  margin: 60px;
  justify-content: center;
  text-align: center;
  color: #ecbb19;
  padding-bottom: 5px;
  font-size: 30px;
}
.experienciaInfo img {
  width: 300px;
  height: 300px;
  border: 3px solid #ecbb19;
  border-style: solid;
  padding: 5px;
}

.experienciaInfo p {
  font-size: 25px;
  padding: 60px;
}

.rating_ExperienciaInfo {
  display: flex;
  margin: 60px;
  justify-content: center;
  text-align: center;
}

.experienciaComments {
  padding: 25px;
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.experienciaComments > h3 {
  margin-top: 50px;
  color: black;
  border: solid 10px #ecbb19;
  font-size: 24px;
  padding: 25px 0px;
  font-weight: bold;
}

.experienciaComments button {
  border: #ecbb19;
  background-color: #ecbb19;
  border-radius: 15px;
  height: 40px;
  width: 150px;
}

.lista_comentarios {
  display: flex;
  flex-direction: row;
}
