.header_menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  position: sticky;
  padding: 0 5%;
  width: 100vw;
  z-index: 100;
  background: #ecbb19;
  height: 120px;
}

.header_nav a {
  color: black;
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
  padding: 0.5rem;
}

.header_nav a:hover {
  border: 2px solid black;
  transition: border 0.5s;
  border-radius: 50px;
}

.header_register_icon {
  padding: 0.5rem;
}

.header_register_icon img {
  width: 60px;
}

.header_menu_logo img {
  width: 220px;
}

.container-1 input#search {
  width: 450px;
  height: 50px;
  background: #f1f2f5;
  border: 10px;
  font-size: 12pt;
  padding: 0.5rem;
  border-radius: 10px;
  margin-right: 10px;
}

.fas fa-search {
  margin-left: 17px;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
  outline: none;
  background: #ffffff;
}
