.header_menu_profile {
  align-items: center;
  background-color: #ecbb19;
  margin: 0 auto;
  display: flex;
  height: 150px;
  padding: 0 5%;
}

.header_menu_profile a {
  width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 10;
  height: 48px;
  align-items: center;
}
