.home {
  display: flex;
  flex-direction: column;
}

.home_title {
  color: #ecbb19;
  justify-content: center;
  font-size: 40px;
  text-align: center;

  margin: 80px 60px;
  padding-bottom: 5px;
}

.home__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
