.ficha_login {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: #ecbb19;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 60px auto;
  height: 600px;
  width: 550px;
}

.titulo_login {
  display: flex;
  margin: 0 35px 60px 35px;
  justify-content: center;
  text-align: center;
  color: #ecbb19;
  padding-bottom: 5px;
  font-size: 45px;
}

.form_login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}

.form_login label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(0, 0, 0, 0.932);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;

  padding: 20px 0px;
}

.form_login input {
  border: solid 3px #ecbb19;
  border-radius: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 250px;
  outline: none;
}

.form_login button {
  background-color: #ecbb19;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 35px;
  padding: 1em 2em;
  width: 120px;
}
