.ficha_experiencia_SummaryPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 65px;
  border: 4px solid #ecbb19;
  border-style: dashed;
  height: 650px;
  width: 650px;
}

.titulo_experiencia {
  color: #ecbb19;
  text-decoration: solid;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  margin: 30px;
  padding-bottom: 35px;
}

.image_epxeriencia_summaryPage {
  width: 300px;
  height: 300px;
  border: 2px solid #ecbb19;
  padding: 5px;
}

.ficha_experiencia_SummaryPage p {
  justify-content: center;
  font-size: 20px;
  padding: 7px;
}

.boton_ver_mas {
  text-decoration: none;
  background-color: #ecbb19;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 35px;
  padding: 1em 2em;
  width: 120px;
}
a {
  color: inherit;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
