.navigation_profile {
  background-color: #ecbb19;
  height: 125px;
  display: flex;
  text-align: center;
}

.navigation_profile ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 10;
  height: 48px;
  align-items: center;
}
.navigation_profile > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding: 8px 16px;
  text-align: center;
  margin-top: 62px;
}

.navigation_profile > ul > li:hover {
  display: flex;
  transition: 200ms;
  border: 2px solid rgba(0, 0, 0, 0.87);
  border-radius: 50px;
  margin-top: 62px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.navigation_profile > ul > li a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.808);
  font-size: 23px;
}

.header_menu_logo_profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 70px;
  padding: 10;
  height: 48px;
  align-items: center;
}
